.homeBtn {
  color: #fff;
}

.relative {
  position: relative;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}



.scaledImageFitWidth {
  height: auto;
  min-height: initial;
  width: 50%;
}

.menuContainer {
  overflow-y: scroll; /* Disable horizontal scroll */

}

.sidenav {
  text-align: center;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 20; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 500ms; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}