.homeBtn {
  color: #fff;
}



.video-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-content: stretch;
}

.header {
  /*flex: 1 100%;*/
  text-align: center;
  margin-bottom: 10px;
}

.view-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  /*border: 1px solid blue;*/
}


.container-player-chat {
  display: flex;
  flex: 1;
  /*border: 5px solid pink;*/
}


.video-player {
  position: relative;
  flex: 1;
  /*border: 1px solid red;*/
}

.video-chatbox {
  flex: 0 0 30%;
  /*border: 1px solid red;*/
}

.video-playlist {
  /*flex: 0 40px;*/
  /*border: 1px solid red;*/
}

.tracklist {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}



.playlist-schedule {
  position: absolute;
  top: 2%;
  right: 2%;
  color: #ffffff !important;
  z-index: 3;
  cursor: pointer;
}


.scaledImageFitWidth {
  height: auto;
  min-height: initial;
  width: 50%;
}

.menuContainer {
  overflow-y: scroll; /* Disable horizontal scroll */

}

.sidenav {
  text-align: center;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 500ms; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}